{% load static %}

<header>
  <nav 
  class="navbar navbar-expand-lg navbar-light" 
  style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:main' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>tube
      </a>

      <form class="d-flex justify-content-start">
        <input class="form-control me-2 search-input" type="search" placeholder="Поиск поста" aria-label="Search">
        {{ search_list }}
        <div id="search-drop-block" class="dropdown-menu search-result-block bg-light"></div>
      </form>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav nav-pills flex-lg-row flex-md-column flex-sm-column">
          {% with request.resolver_match.view_name as view_name %}
            <li class="nav-item"> 
              <a 
                class="nav-link 
                  {% if view_name  == 'about:author' %}
                    active 
                  {% endif %}" 
                href="{% url 'about:author' %}">
                  Об авторе
              </a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link
                  {% if view_name  == 'about:tech' %}
                    active 
                  {% endif %}"  
                href="{% url 'about:tech' %}">
                  Технологии
              </a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item"> 
                <a 
                  class="nav-link
                  {% if view_name  == 'posts:post_create' %}
                    active 
                  {% endif %}" 
                  href="{% url 'posts:post_create' %}">
                    Новая запись
                </a>
              </li>
              <li class="nav-item"> 
                <a 
                  class="nav-link link-light
                    {% if view_name  == 'users:password_change_form' %}
                      active 
                    {% endif %}" 
                  href="{% url 'users:password_change_form' %}">
                    Изменить пароль
                </a>
              </li>
              <li class="nav-item"> 
                <a 
                  class="nav-link link-light" 
                  href="{% url 'users:logout' %}">
                    Выйти
                </a>
              </li>
              <li class="nav-item">
                <a 
                  class="nav-link link-light" 
                  href="#">
                  Пользователь: {{ user.username }} 
                </a>   
              <li>
            {% else %}
            <li class="nav-item"> 
              <a 
                class="nav-link link-light
                  {% if view_name  == 'users:login' %}
                    active 
                  {% endif %}" 
                href="{% url 'users:login' %}">
                  Войти
              </a>
            </li>
            <li class="nav-item"> 
              <a 
                class="nav-link link-light
                {% if view_name  == 'users:signup' %}
                  active 
                {% endif %}" 
                href="{% url 'users:signup' %}">
                  Регистрация
              </a>
            </li>
            {% endif %}
          {% endwith %}
        </ul>
      </div>
    </div>
  </nav>
</header>