{% extends "base.html" %}

{% block title %}Технологии{% endblock %}

{% block content %}
  <div class="section">
    <div class="container-box">
      <div class="content-section">
        <div class="title">
          <h1>Вот что я умею</h1>
        </div>
        <div class="content py-5">
          <ul class="tech-list">
            <li class="tech-item">
              Python
            </li>
            <li class="tech-item">
              Django
            </li>
          </ul>
          <article class="col-12 col-md-9">
            <p>Текст страницы "Технологии"</p>
          </article>
        </div>
      </div>
    </div>
  </div>
{% endblock %}